<!doctype html>
<html ng-app="app">
<head>

    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="../../node_modules/angular/angular.js"></script>

    <link rel="stylesheet" href="../../dist/json.edit.css">
    <script src="../../dist/json.edit.js"></script>

    <link rel="stylesheet" href="style.css">
    <script src="watchers.js"></script>
    <script src="script.js"></script>
</head>
<body ng-controller="Demo">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-json-edit" aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">json edit</a>
            <p ng-if="!wellFormed" class="navbar-text text-danger">JSON not well-formed!</p>
        </div>
        <div class="collapse navbar-collapse in" id="bs-example-navbar-collapse-json-edit">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{active: !collapsed}"><a href="#" ng-click="collapsed = false"><i class="glyphicon glyphicon-resize-full"></i></a></li>
                <li ng-class="{active: collapsed}"><a href="#" ng-click="collapsed = true"><i class="glyphicon glyphicon-resize-small"></i></a></li>
                <li><watchers></watchers></li>
                <li><a href="" ng-click="setData()">setData</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid json-main">
    <div class="row">
        <textarea class="col-xs-5" ng-model="jsonString"></textarea>
        <div class="col-xs-7 json-edit">
            <div json-edit child="jsonData" collapsed="collapsed" type="object"></div>
        </div>
    </div>
</div>
</body>
</html>
